In [1]:
# Data Visualization
# BTech Computer Science Stream 2025
# Week 1 Python Language Basics
# Kenneth Francis Rodrigues, 240905112, 3/1/2025

In [2]:
print("Hello world!")

Hello world!

In [3]:
# Python Language basics - Dynamic references, strong types: no inherent variable type
# Scalar data types - Integer
# Use variables with snake case or camel case
var_1 = 2
var_2 = 3
var_3 = var_1 + var_2
print('Var_3 = ',var_3)

Var_3 =  5

In [4]:
# Mathematical Operations
print(var_1/var_2)
print(var_1//var_2)

0.6666666666666666
0

In [5]:
# Scalar Data Types - float
var_f1 =0.345
var_f2 = 6.8e-4
print(var_f1+var_f2)

0.34568

In [6]:
# Scalar Data Types - String
var_str1 = 'This is my first Python class'
var_str2 = """String that spans
Multiple Lines
"""
print(var_str2)
var_str2.count('\n')

String that spans
Multiple Lines

2

In [7]:
# Python Language Basics - Tab Completion
# Scalar Data Types  - Strings are immutable
# String is a classs, can see all supported methods

var_str3 = var_str1.replace('class','demonstration')
var_str3

'This is my first Python demonstration'

In [8]:
# Scala Data Types - boolean
var_bool1 = True
var_bool2 = False
# Question mark displays the details of the variable
var_bool1?

In [9]:
# Type Casting: The str, bool, int, float types are also type casting functions for their respective types
var_int = 1
var_bool3 = bool(var_int)
var_bool3
print(type(var_int))
print(type(var_bool3))

<class 'int'>
<class 'bool'>

In [10]:
# None is the python null value
def fn_add_maybe_multiply(var_1,var_2,var_3=None):
    result = var_1 + var_2
    if var_3 is not None:
        result *= var_3
    return result

In [11]:
fn_add_maybe_multiply?
print(fn_add_maybe_multiply(1,2,None))
print(fn_add_maybe_multiply(1,2))
fn_add_maybe_multiply(1,2,10)

3
3

30

In [12]:
# Python Language basics- control flow
var_a = -5
if var_a < 0:
    print("it is negative")

it is negative

In [13]:
var_a = 5
if var_a < 0:
    print("it is negative")
elif var_a == 0:
    print("It is zero")
elif 0 < var_a < 5:
    print("positive but smaller than 5")
else:
    print("positive but greater than or equal to 5")

positive but greater than or equal to 5

In [14]:
# Python Language basics - for loops 
var_seq = [1,2,None,4,None,5]
var_tot= 0
for v in var_seq:
    if v is None:
        continue
    var_tot += v
var_tot

12

In [15]:
var_seq2 = [1,2,0,4,6,5,2,1]
var_tot_until_5 = 0
for v in var_seq2:
    if v == 5:
        break
    var_tot_until_5 += v
var_tot_until_5

13

In [16]:
# Python Language Basics - While Loop
var_a = 256
total = 0
while var_a >0:
    if total > 500:
        break
    total += var_a
    var_a //= 2
total

504

In [17]:
# python language basics  pass is the no-op
var = 0
if var< 0:
    print("negative")
elif var == 0:
    pass # no operation
else:
    print("positive")

In [18]:
# range generates a sequence with a range of numbers
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
seq = [1,2,3,4]
for i in range(len(seq)):
    print(seq[i])

1
2
3
4