In [1]:
# Data Visualization
# BTech Computer Science Stream
# Week 2 Demo: Python Language Basics
# Kenneth Francis Rodrigues, 240905112, 3/1/2025

In [2]:
tup = (4,5,4)
tup

(4, 5, 4)

In [3]:
tup = tuple([2,8,4])
print(tup)
tup = tuple('abcdef')
tup

(2, 8, 4)

('a', 'b', 'c', 'd', 'e', 'f')

In [4]:
# indexing of tuple elements can be done with []
tup[0]

'a'

In [5]:
# tuples can be nested
nested_tup = (2,5,2),(1,1)
print(nested_tup)
print(nested_tup[0])
print(nested_tup[1])

((2, 5, 2), (1, 1))
(2, 5, 2)
(1, 1)

In [6]:
# tuple values are immutable
tup = tuple(['ee',[1,2],True])
#tup[2] = False - this gives a TypeError

In [7]:
# if an object inside a tuple is mutable, such as a list, you can modify it in place
tup[1].append(3)
tup

('ee', [1, 2, 3], True)

In [8]:
# multiplying a tuple with a number concatenates the tuple
('wee','woo')*5

('wee', 'woo', 'wee', 'woo', 'wee', 'woo', 'wee', 'woo', 'wee', 'woo')

In [9]:
# tuples can be unpacked into individual variables for elements

tup = (6,7,8)
a,b,c = tup
print(f"a = {a} b = {b} c = {c}")

# for nested tuples
c,d,(e,f) = (2,3,(1,5))
print(f"c = {c} d = {d} e = {e} f = {f}")

a = 6 b = 7 c = 8
c = 2 d = 3 e = 1 f = 5

In [10]:
# swapping of variables in python
a,b = 3,4
print(a," ",b)
b,a = a,b
print(a," ",b)

3   4
4   3

In [11]:
# indexing tuple elements of a list
seq = [('a','b'),('c','d'),('e','f')]
for i in seq:
    print(i)

('a', 'b')
('c', 'd')
('e', 'f')

In [12]:
# using rest to access rest of the elements of a tuple
values = 1,2,3,4,5
a, *rest,b = values
print(a," ",rest," ",b)

# when u want to discard rest values
a,b,*_ = values
print(a," ",b)

1   [2, 3, 4]   5
1   2

In [13]:
# count(x) returns the count of x in the tuple
a =(1,2,3,4,2,2,2,25,6,7)
print(a.count(2))

4

In [14]:
# tuples can be converted to lists to modify it's elements
tup = ("foo","bar","baz","foo")
b = list(tup)
print(b)
b[1] = "eee"
print(b)

['foo', 'bar', 'baz', 'foo']
['foo', 'eee', 'baz', 'foo']

In [15]:
# generating a list based on a range
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# appending values to a list
b.append("waaa")
b

['foo', 'eee', 'baz', 'foo', 'waaa']

In [17]:
# usage of insert to insert elements at specific indices
b.insert(1,'.......')
print(b)

# usage of pop to remove elements from the list at a particular index
b.pop(2)
print(b)
# usage to remove to remove element(first occurrence) from the list with a particular value
b.remove('foo')
b

['foo', '.......', 'eee', 'baz', 'foo', 'waaa']
['foo', '.......', 'baz', 'foo', 'waaa']

['.......', 'baz', 'foo', 'waaa']

In [18]:
# in keywords returns whether an element exists in another element
print("baz" in b)
print("baz" not in b)

True
False

In [19]:
# concatenation of lists
print([5,2,6,None,'abc'] + [1,4,7,(2,'a')])

#with extend
a = [5,2,6,None,'abc']
a.extend([1,4,7,(2,'a')])
a

[5, 2, 6, None, 'abc', 1, 4, 7, (2, 'a')]

[5, 2, 6, None, 'abc', 1, 4, 7, (2, 'a')]

In [20]:
# sort() sorts a list
a = [6,8,2,8,1,3]
a.sort()
a

[1, 2, 3, 6, 8, 8]

In [21]:
# sorting lexicographically
b = ['cccc','aaaaa','eee','bb','d']
b.sort(reverse=True) # reverse is used to sort in descending order
print(b)

# sorting based on length
b.sort(key=len)
print(b)

['eee', 'd', 'cccc', 'bb', 'aaaaa']
['d', 'bb', 'eee', 'cccc', 'aaaaa']

In [22]:
# slicing of lists
a = [1,2,3,4,5,5,6]
print(a[1:6])

a[5:] = [6,7]

print(a)
print(a[3:])
print(a[:5])

# negative indices
print(a)
print(a[-4:])

[2, 3, 4, 5, 5]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7]

# dict
A dict is an unordered collection of key-value pairs,where key and value are Python objects.

In [23]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [24]:
#  You can access, insert, or set elements using the same syntax as for accessing elements of a 
#list or tuple
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [25]:
# Checking if a key is in a dict
"b" in d1

True

In [26]:
# values can be deleting using the del keyord or pop method
d1[5] = "somevalue"
d1['dummy'] = 'other value'
print(d1)
del d1[5]
e = d1.pop('dummy')
print(e)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'somevalue', 'dummy': 'other value'}
other value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [27]:
# The keys and values method give you iterators of the dict’s keys and values, respectively. The 
# order of the keys depends on the order of their insertion, and these functions output the keys 
# and values in the same respective order
print(list(d1.keys()))
print(list(d1.values()))
list(d1.items())

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [28]:
#  You can merge one dict into another using the update method
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [29]:
# creating dicts from sequences
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
mapping

<zip object at 0x7e8210300e80>

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

syntax for returning default values:
`value = some_dict.get(key, default_value)`
get returns None by default and pop returns an exception

In [30]:
# using list values in dicts
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [31]:
# usage of setdefault to simplify the above code
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [32]:
# defaultdict from collections makes it even easier
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
print(by_letter)
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [33]:
# hash function can be usedt to check if a key can be used
hash("string")
hash((1, 2, (2, 3)))
#hash((1, 2, [2, 3])) # fails because lists are mutable
# to use a list as a key it needs to be converted to a tuple

-9209053662355515447

# Set

In [34]:
#  A set is an unordered collection of unique elements. You can think of them like dict keys, but 
#keys only, no values.
print( set([2, 2, 2, 1, 3, 3]))

{1, 2, 3}

In [35]:
# union and intersection of sets
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
print(a.union(b)) # a | b
print(a.intersection(b)) # a & b
#|= and &= can be used to replace a set with its union or intersection with other sets
# set elements must be hashable

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [36]:
# checking if a set is a subset or superset of another set
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
a_set.issuperset({1, 2, 3})

True

True

In [37]:
# sets are equal if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

In [38]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print( sorted("horse race"))
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
print(list(zipped))

seq3 = [False, True]
print(list(zip(seq1, seq2, seq3)))
      
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")
      
print(list(reversed(range(10))))
      
strings = ["a", "as", "bat", "car", "dove", "python"]
print([x.upper() for x in strings if len(x) > 2])
      
unique_lengths = {len(x) for x in strings}
print(unique_lengths)

print(set(map(len, strings)))
      
loc_mapping = {value: index for index, value in enumerate(strings)}
print(loc_mapping)
      
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
print(names_of_interest)
      
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
print(result)
      
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
print(flattened)
      
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

[[x for x in tup] for tup in some_tuples]

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']
[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]
[('foo', 'one', False), ('bar', 'two', True)]
0: foo, one
1: bar, two
2: baz, three
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['BAT', 'CAR', 'DOVE', 'PYTHON']
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}
{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}
['Maria', 'Natalia']
['Maria', 'Natalia']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [39]:
def my_function(x, y):
    return x + y
my_function(1, 2)
result = my_function(1, 2)
result

3

In [40]:
# there can be multiple return statements
def function_without_return(x):
    print(x)
result = function_without_return("hello!")
print(result)
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
# x and y are positional arguments and z is a keyword argument used to initialize default values
print(my_function2(5, 6, z=0.7))
print(my_function2(3.14, 7, 3.5))
print(my_function2(10, 20))

hello!
None
0.06363636363636363
35.49
45.0

In [41]:
a = []#each call modifies a
def func():
    for i in range(5):
        a.append(i)
func()
print(a)
func()
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [42]:
 a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [43]:
# functions are objects
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [44]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [45]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [46]:
# lambda functions
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
print(apply_to_list(ints, lambda x: x * 2))

strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key=lambda x: len(set(x)))
strings

[8, 0, 2, 10, 12]

['aaaa', 'foo', 'abab', 'bar', 'card']

In [47]:
# generator object
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [48]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [49]:
gen = (x ** 2 for x in range(100))
print(gen)
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

<generator object <genexpr> at 0x7e8210310200>

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
import itertools
def first_letter(x):
    return x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [51]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float("1.2345")
attempt_float("something")

'something'

In [52]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'