In [1]:
# Data Visualization
# BTech Computer Science Stream
# Week 1: Python Language Basics
# Kenneth Francis Rodrigues, 240905112, 3/1/2025

# dict
A dict is an unordered collection of key-value pairs,where key and value are Python objects.

In [2]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
#  You can access, insert, or set elements using the same syntax as for accessing elements of a 
#list or tuple
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [4]:
# Checking if a key is in a dict
"b" in d1

True

In [5]:
# values can be deleting using the del keyord or pop method
d1[5] = "somevalue"
d1['dummy'] = 'other value'
print(d1)
del d1[5]
e = d1.pop('dummy')
print(e)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'somevalue', 'dummy': 'other value'}
other value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [6]:
# The keys and values method give you iterators of the dictâ€™s keys and values, respectively. The 
# order of the keys depends on the order of their insertion, and these functions output the keys 
# and values in the same respective order
print(list(d1.keys()))
print(list(d1.values()))
list(d1.items())

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [7]:
#  You can merge one dict into another using the update method
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [8]:
# creating dicts from sequences
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
mapping

<zip object at 0x000001EF41902D80>

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

syntax for returning default values:
`value = some_dict.get(key, default_value)`
get returns None by default and pop returns an exception

In [9]:
# using list values in dicts
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [10]:
# usage of setdefault to simplify the above code
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [11]:
# defaultdict from collections makes it even easier
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
print(by_letter)
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [12]:
# hash function can be usedt to check if a key can be used
hash("string")
hash((1, 2, (2, 3)))
#hash((1, 2, [2, 3])) # fails because lists are mutable
# to use a list as a key it needs to be converted to a tuple

-9209053662355515447

# Set

In [13]:
#  A set is an unordered collection of unique elements. You can think of them like dict keys, but 
#keys only, no values.
print( set([2, 2, 2, 1, 3, 3]))

{1, 2, 3}

In [14]:
# union and intersection of sets
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
print(a.union(b)) # a | b
print(a.intersection(b)) # a & b
#|= and &= can be used to replace a set with its union or intersection with other sets
# set elements must be hashable

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [15]:
# checking if a set is a subset or superset of another set
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
a_set.issuperset({1, 2, 3})

True

True

In [16]:
# sets are equal if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

In [17]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print( sorted("horse race"))
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
print(list(zipped))

seq3 = [False, True]
print(list(zip(seq1, seq2, seq3)))
      
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")
      
print(list(reversed(range(10))))
      
strings = ["a", "as", "bat", "car", "dove", "python"]
print([x.upper() for x in strings if len(x) > 2])
      
unique_lengths = {len(x) for x in strings}
print(unique_lengths)

print(set(map(len, strings)))
      
loc_mapping = {value: index for index, value in enumerate(strings)}
print(loc_mapping)
      
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
print(names_of_interest)
      
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
print(result)
      
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
print(flattened)
      
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

[[x for x in tup] for tup in some_tuples]

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']
[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]
[('foo', 'one', False), ('bar', 'two', True)]
0: foo, one
1: bar, two
2: baz, three
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['BAT', 'CAR', 'DOVE', 'PYTHON']
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}
{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}
['Maria', 'Natalia']
['Maria', 'Natalia']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [18]:
def my_function(x, y):
    return x + y
my_function(1, 2)
result = my_function(1, 2)
result

3

In [19]:
# there can be multiple return statements
def function_without_return(x):
    print(x)
result = function_without_return("hello!")
print(result)
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
# x and y are positional arguments and z is a keyword argument used to initialize default values
print(my_function2(5, 6, z=0.7))
print(my_function2(3.14, 7, 3.5))
print(my_function2(10, 20))

hello!
None
0.06363636363636363
35.49
45.0

In [20]:
a = []#each call modifies a
def func():
    for i in range(5):
        a.append(i)
func()
print(a)
func()
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [21]:
 a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [22]:
# functions are objects
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [23]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [24]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [25]:
# lambda functions
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
print(apply_to_list(ints, lambda x: x * 2))

strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key=lambda x: len(set(x)))
strings

[8, 0, 2, 10, 12]

['aaaa', 'foo', 'abab', 'bar', 'card']

In [28]:
# generator object
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [29]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [30]:
gen = (x ** 2 for x in range(100))
print(gen)
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

<generator object <genexpr> at 0x000001EF419CC820>

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
import itertools
def first_letter(x):
    return x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [32]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float("1.2345")
attempt_float("something")

'something'

In [33]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'